.footer {
  padding: 40px 0 20px;
  z-index: 0;
}
.footer-container {
  max-width: 1400px;
  margin: 0 50px;
  padding: 40px 15px 0px 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.footer-content {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 30px;
}
.footer-section {
  font-size: 14px;
  text-transform: uppercase;
}
.footer-section h4 {
  margin-bottom: 20px;
}
.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-section li {
  margin-bottom: 15px;
}
.footer-section a {
  text-decoration: none;
  color: #000000;
}
.footer-section a:visited {
  color: #000000;
}
.footer-section a:hover {
  color: #0c4094;
}
.footer-section.first {
  width: 410px;
}
.footer-section.first h4,
.footer-section.first p {
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #333;
}
.flex-container {
  margin-top: 20px;
}
.footer-section.first ul {
  position: relative;
  left: -12px;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 0;
}
.footer-section.first li {
  height: 25px;
  width: 25px;
  margin-bottom: 0;
}
.footer-section.first li:hover {
  transition: transform 0.3s;
}
.footer-section.first li:hover:hover {
  transform: scale(1.1);
}
@media (max-width: 1200px) {
  .footer-container {
    max-width: 100%;
    margin: 0 15px;
  }
  .footer-content {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    gap: 25px;
  }
  .footer-section.first {
    width: 350px;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 30px 0 15px;
  }
  .footer-container {
    margin: 0 12px;
    padding: 30px 10px 0 10px;
  }
  .footer-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    margin-bottom: 25px;
  }
  .footer-section {
    font-size: 12px;
  }
  .footer-section h4 {
    margin-bottom: 15px;
  }
  .footer-section li {
    margin-bottom: 12px;
  }
  .footer-section.first ul {
    gap: 15px;
  }
  .flex-container {
    margin-top: 15px;
  }
}
@media (max-width: 480px) {
  .footer {
    padding: 25px 0 12px;
  }
  .footer-container {
    margin: 0 10px;
    padding: 25px 8px 0 8px;
  }
  .footer-content {
    gap: 12px;
    margin-bottom: 20px;
  }
  .footer-section {
    font-size: 10px;
  }
  .footer-section h4 {
    margin-bottom: 12px;
  }
  .footer-section li {
    margin-bottom: 10px;
  }
  .footer-section.first ul {
    gap: 12px;
  }
  .footer-section.first li {
    height: 20px;
    width: 20px;
  }
}
