.header-container {
  margin-left: 200px;
  max-width: 1200px;
  width: 100%;
  height: 120px;
  grid-template-columns: repeat(5, 1fr);
  display: grid;
  align-items: center;
}
.header-elements {
  padding-bottom: 10px;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.header-element {
  width: 210px;
  padding-top: 10px;
  border-right: 1px solid #0f57c9;
}
.header-element img {
  width: 20px;
  height: 20px;
}
.header-element p {
  text-transform: uppercase;
  font-size: 12px;
}
.header-element a {
  text-decoration: none;
  color: #0f57c9;
  font-size: 10px;
}
.icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-left: 20px;
  width: 100px;
}
.icons img {
  width: 25px;
  height: 25px;
}
.icons a {
  transition: transform 0.3s;
}
.icons a:hover {
  transform: scale(1.1);
}
@media (max-width: 1200px) {
  .header-container {
    margin-left: 100px;
    max-width: 100%;
  }
  .header-elements {
    gap: 30px;
  }
  .header-element {
    width: 180px;
  }
}
@media (max-width: 992px) {
  .header-container {
    margin-left: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 768px) {
  .header-container {
    display: none;
  }
}
