* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* шапка сайта */
.header-container {
    margin-left: 200px;
    min-width: 100%;
    height: 120px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

.header-container > img {
    margin-left: 50px;
}

.header-elements {
    padding-bottom: 10px;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: center;
    justify-content: left;
}

.header-element {
    width: 210px;
    padding: 10px 50% 10px 0px;
    border-right: 1px solid #0F57C9;
}

.icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-left: 20px;
    width: 100px;
}

.icons img {
    height: 25px;
    width: 25px;
}

.header-element img {
    height: 20px;
    width: 20px;
}

.header-element p {
    text-transform: uppercase;
    font-size: 12px;
}

.header-element a {
    text-decoration: none;
    color: #0F57C9;
    font-size: 10px;
}